In [ ]:
n = 10
while n <= 100 :
  print(n)
  n = n + 10
print("end counting")

10
20
30
40
50
60
70
80
90
100
end counting

In [ ]:
n = 100
while n <= 150 :
  print(n)
  n = n + 5
print("end counting")

100
105
110
115
120
125
130
135
140
145
150
end counting

In [ ]:
n = 0
i = 1
while i <= 100 :
  print(n, i)
  n = n + i
  i = i + 1
print("end counting")

0 1
1 2
3 3
6 4
10 5
15 6
21 7
28 8
36 9
45 10
55 11
66 12
78 13
91 14
105 15
120 16
136 17
153 18
171 19
190 20
210 21
231 22
253 23
276 24
300 25
325 26
351 27
378 28
406 29
435 30
465 31
496 32
528 33
561 34
595 35
630 36
666 37
703 38
741 39
780 40
820 41
861 42
903 43
946 44
990 45
1035 46
1081 47
1128 48
1176 49
1225 50
1275 51
1326 52
1378 53
1431 54
1485 55
1540 56
1596 57
1653 58
1711 59
1770 60
1830 61
1891 62
1953 63
2016 64
2080 65
2145 66
2211 67
2278 68
2346 69
2415 70
2485 71
2556 72
2628 73
2701 74
2775 75
2850 76
2926 77
3003 78
3081 79
3160 80
3240 81
3321 82
3403 83
3486 84
3570 85
3655 86
3741 87
3828 88
3916 89
4005 90
4095 91
4186 92
4278 93
4371 94
4465 95
4560 96
4656 97
4753 98
4851 99
4950 100
end counting

In [ ]:
import time
n = 1
while n <= 10:
  print(n)
  n = n + 1
  time.sleep(1)
print("end counting")

1
2
3
4
5
6
7
8
9
10
end counting

In [ ]:
n = int(input("정수 입력 : "))
i = 1

print("구구단 %d단" %n)

while i <= 9 :
  print("%d x %d = %d" %(n, i, n*i))
  i += 1

정수 입력 : 3
구구단 3단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [ ]:
n = int(input("정수 입력 (2 ~ 9) : "))
i = 1

if (n >= 2 and n <= 9) :
  print("구구단 %d단" %n)

  while i <= 9 :
    print("%d x %d = %d" %(n, i, n*i))
    i += 1

else :
  print("잘못된 값입니다.")

정수 입력 (2 ~ 9) : 3
구구단 3단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [ ]:
n = 30
sum = 0

while n <= 70 :
  n += 1
  if n % 3 == 0 :
    sum += n
  else :
    sum = sum

print(sum)

663

In [ ]:
i = 0

for i in range (50, 70, 3) :
  print(i)

50
53
56
59
62
65
68

In [ ]:
i = 0

for i in range (10, 0, -1) :
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
i = 0
sum = 0

for i in range (30, 70, 1) :
  sum += i
  print(sum)

30
61
93
126
160
195
231
268
306
345
385
426
468
511
555
600
646
693
741
790
840
891
943
996
1050
1105
1161
1218
1276
1335
1395
1456
1518
1581
1645
1710
1776
1843
1911
1980

In [ ]:
i = 0
n = 5

for i in range(1, 10, 1):
  print("%d x %d = %d" %(n, i, n * i))

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [ ]:
n = int(input("정수 입력 (2 ~ 9) : "))
i = 0

if (n >= 2 and n <= 9) :
  print("구구단 %d단" %n)

  for i in range (1, 10, 1):
    print("%d x %d = %d" %(n, i, n * i))

else :
  print("잘못된 값입니다.")

정수 입력 (2 ~ 9) : 1
잘못된 값입니다.

In [ ]:
A = int(input("정수 A 입력 : "))
B = int(input("정수 B 입력 : "))
sum = 0

for A in range (A, B + 1, 1) :
  sum = A + B
  print(sum)

정수 A 입력 : 1
정수 B 입력 : 5
1 5 6
2 5 7
3 5 8
4 5 9
5 5 10

In [ ]:
n = 0
sum = 0

for n in range (100, 150, 1) :
  n += 1
  if n % 7 == 0 :
    sum += n
  else :
    sum = sum

print(sum)

882

In [ ]:
n = 0
sum = 0

for n in range (50, 100, 1) :
  n += 1
  if n % 3 == 0 or n % 5 == 0:
    sum += n
  else :
    sum = sum

print(sum)

1825